{% extends "../base.html" %} {% block content %}

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center">
      <h1 class="d-flex align-items-center">Portafolio SILABUZ</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html" class="active">Inicio</a></li>
        <li><a href="about.html">Ver portafolio</a></li>
        <li><a href="services.html">Iniciar sesión</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h2 data-aos="fade-up">Carlos Yrigoín Domínguez</h2>
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p style="text-align: justify;">Portafolio de proyectos desarrollados, con interés en el desarrollo de sistemas de información web, aplicaciones móviles, administración de base de datos, inteligencia de negocios, inteligencia artificial y gestión de proyectos.</p>
        </blockquote>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#about" class="btn-get-started">Ver portafolio</a> &nbsp; 
          <a href="#about" class="btn-get-started">Registrar más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row mt-5">
  <div class="col-md-6">
    <h2 class="mt-3">Lista de salones </h2>
  </div>
</div>

<table class="table table-bordered table-hove mt-5">
  <thead>
    <tr>
      <th>Nombre de Salon</th>
      <th>Hora de entrada</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

{% endblock %}
